@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900');
body {
	background-color: #F7F7F7;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #1F1F1F;
}

h1, h2, h3 {
	text-transform: uppercase;
	text-align: center;
	/*text-shadow: 3px 3px 2px rgba(100, 100, 100, 0.5);*/
}

#h2Course {
	text-transform: none;
	text-align: center;
	font-size: 20px;
	margin: 0 0 3em 0;
}

h4 {
	text-align: center;
}

h1 {
	margin: 1.5em 0 1em 0;
}

a {
	text-decoration: none!important;
	color: inherit;
}

.dropdownMenu a:hover {
	color: #4E98C9 !important;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0 auto;
}

/* DEBUT MENU accueil*/

nav.mainNav {
	position: fixed;
	vertical-align: bottom;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	border-radius: 0;
}

nav.mainNav li.menuItem > a {
	color: white!important;
}

.navbar-nav {
	padding: 14px 0 0 0;
	height: 60px;
}

nav.mainNav img {
	height: 70px;
}

nav.mainNav a {
	display:inline-block;
}

nav.mainNav ul#menu {
	float:right;
	display: inline-block;
	padding: 18px 0 0 0;
}

nav.mainNav ul#menu li {
	font-size:16px;
	font-weight:500;
	color:white;
	text-transform: uppercase;
	width: 10em;
	margin: 0 .5em;
	text-align:center;
	vertical-align:middle;
}

nav.mainNav ul#menu li a {
	text-decoration: none;
	color: inherit;
}

.menuItem {
	display: inline-block;
	margin-left: 32px;
	position: relative;
	padding-bottom: 20px;
	font-weight: 600;
}

.dropdownMenu {
	width: 180px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -90px;
	background: #fff;
	border-radius: 5px;
	display: none;
	border: 1px solid #eee;
	z-index: 4000;
}

.menuItem:hover .dropdownMenu {
	display: block;
}

.dropdownMenu li {
	display: block;
	margin: 0;
	padding: 0 !important;
	border: none !important;
	border-bottom: 1px solid #eee !important;
}

.dropdownMenu li a {
	padding: 15px 0;
	display: block;
	text-decoration: none;
	font-weight: 600;
	color: #787878 !important;
	z-index: 5000;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

/* FIN MENU */

/* DEBUT MENU autres pages*/

nav#mainNav {
	position: fixed;
	vertical-align: bottom;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #2B87C4;
	border: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	border-radius: 0;
}

nav#mainNav li.menuItem > a {
	color: white!important;
}

.navbar-nav {
	padding: 14px 0 0 0;
	height: 60px;
}

nav#mainNav img {
	height: 70px;
}

nav#mainNav a {
	display:inline-block;
}

nav#mainNav ul#menu {
	float:right;
	display: inline-block;
	padding: 18px 0 0 0;
}

nav#mainNav ul#menu li {
	font-size:16px;
	font-weight:500;
	color:white;
	text-transform: uppercase;
	width: 10em;
	margin: 0 .5em;
	text-align:center;
	vertical-align:middle;
}

nav#mainNav ul#menu li a {
	text-decoration: none;
	color: inherit;
}

.menuItem {
	display: inline-block;
	margin-left: 32px;
	position: relative;
	padding-bottom: 20px;
	font-weight: 600;
}

.dropdownMenu {
	width: 180px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -90px;
	background: #fff;
	border-radius: 5px;
	display: none;
	border: 1px solid #eee;
	z-index: 4000;
}

.menuItem:hover .dropdownMenu {
	display: block;
}

.dropdownMenu li {
	display: block;
	margin: 0;
	padding: 0 !important;
	border: none !important;
	border-bottom: 1px solid #eee !important;
}

.dropdownMenu li a {
	padding: 15px 0;
	display: block;
	text-decoration: none;
	font-weight: 600;
	color: #787878 !important;
	z-index: 5000;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

/* FIN MENU */

section#intro {
	text-transform: uppercase;
	color: white;
	position: relative;
	min-height: 900px;
	width: 100%;
}

section#intro .introBackground {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	text-align: center;
}

section#intro div img {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #333;
	-webkit-object-fit: cover;
	-webkit-object-position: 57%;
	-moz-object-fit: cover;
	-moz-object-position: 57%;
	-ms-object-fit: cover;
	-ms-object-position: 57%;
	-o-object-fit: cover;
	-o-object-position: 57%;
	object-fit: cover;
	object-position: 57%;
}

#introPres .buttonIntro {
	margin: 5em auto 5em;
	border-radius: 5px;
	padding: 20px;
	width: 50%;
	font-size: 15px;
	background: #FFC539;
	font-weight: 500;
	color: #fff;
	text-align: center;
	transition: all 0.3s ease-in-out; 
}

#introPres .buttonIntro:hover {
	background-color: #FFBA1B;
}

#introPres .buttonIntro a:hover  {
	color: #fff;
}

#introPres {
	width: 70%;
	margin: 250px auto 0;
	max-height: 800px;
}

ul#menu li,
ul#itservice li,
ul#gouvernance li,
ul#gdp li,
ul#microsoft li,
ul#promotion li,
ul#centrePartenaire li,
ul#piedDePage li {
	display:inline-block;
	text-align: center;
}

.itemCourse {
	margin-bottom: 15px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
	width: 100%;
	height: 96px;
	vertical-align: top;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.itemCourse:hover {
	background-color: rgba(78, 152, 201, 0.1);
}

ul#itservice li.itemCourse a, 
ul#gouvernance li.itemCourse a, 
ul#gdp li.itemCourse a, 
ul#microsoft li.itemCourse a {
	display: block;
	height: inherit;
	color: inherit;
	text-decoration: none;
}

ul#itservice li.itemCourse a div.courses, 
ul#gouvernance li.itemCourse a div.courses, 
ul#gdp li.itemCourse a div.courses, 
ul#microsoft li.itemCourse a div.courses {
	font-size: 14px;
	font-weight: bold;
	max-width: 154px;
	text-align: left;
	line-height: 1.2;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

@media only screen and (min-width: 1175px) {
	.itemCourse {
		width: 210px;
		margin-bottom: 23px;
		margin-right: 15px;
		height: 106px
	}
}

img.svg {
	height: 55px;
	width: 55px;
	margin: 0 .5em 0 1em;
}

section#news div > p.actuParagraphe,
section#calendar > h4 {
	text-align: center;
}

section#newsletterFooter div.container {
	text-align:center;
	display: inline-flex;
	align-items: center;
}

section#news div.news {
	background-color: white;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
	border-radius: 5px;
	margin: 1em 3.3em 2em;
	overflow: hidden;
}

section#news div.news {
	
}

section#news div.news img {
	margin-left:-15px;
}

section#calendar {
	margin: 1em 0 2em;
}

section#newsletterFooter div.container label {
}

@media only screen and (max-width: 991px) {
	section#newsletterFooter div.container p {
		display: none;
	}
	section#newsletterFooter label#labelNewsletter {
		width: 100%;
	}
}

section#newsletterFooter {
	background-image: url(https://unsplash.it/2560/233?image=126&element=FOOTER);
	height: 100px;
	display: flex;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.4em;
}

section#newsletterFooter label#labelNewsletter {
	border: 2px solid white;
	border-radius: 5px;
	font-size: .8em;
	color: #ffffff;
	font-weight: 500;
	height: 50px;
	display: inline-flex;
	align-items: center;
}

section#newsletterFooter label#labelNewsletter span {
	padding: 0 1.5em;
	text-transform: uppercase;
	border-right: 2px solid white;
}

section#newsletterFooter label#labelNewsletter > input {
	border: none;
	background-color: transparent;
	padding: 0 1em;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}

section#partners {
	background-color: #FFFFFF;
}

section#partners h1 {
	margin: 1.5em 0 1.5em;
}

section#partners ul#centrePartenaire li {
	margin: 0 0 4em 0;
}
section#partners ul#centrePartenaire li div p {
	margin: 1em 0;
	text-transform: uppercase;
	font-weight: 500;
}

section#partners ul#centrePartenaire li div img.imgCentrePartenaire {
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
}

footer {
	display: flex;
	align-items: center;
	height: 60px;
	background-color: white;
	text-transform: uppercase;
	font-weight: 500;
}

ul#gdp {
	margin-bottom: 4em;
}

i.reseaux {
	margin: 0 1em;
}

/* PROMOTIONS */

.pricing {
	background: url(http://csmthemes.com/themes/launch/video/img/bg-pricing.jpg) center center no-repeat scroll;
	background-size: cover;
	position: relative;
}

.pricing::before { background: rgba(0, 0, 0, 0.30); }

.pricing h1,
.pricing h2,
.pricing h3 {
	position: relative;
	margin-bottom: 1.5em;
	color: #fff;
}

.plan {
	background-color: #fff;
	width: 350px;
	display: inline-block;
	border-radius: 5px;
	margin: 0 1em 5em 1em;
	max-width: 100%;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
	transition: all 0.3s ease-in;
}

.plan:hover {
	transform: scale(1.03);
}

.plan:last-child { margin-bottom: 3em; }

.plan .header,
.price,
.plan-features { padding: 1.5em 1em; }

.plan .header h4 {
	font-size: 21px;
	margin: 0;
}

.price {
	background-color: #4db778;
	color: #fff;
}

.price-amount {
	font-size: 90px;
	line-height: 1;
}

.period { font-size: 30px; }

.currency {
	font-size: 30px;
	vertical-align: top;
	top: 30px;
}

.plan-features li {
	padding-bottom: .75em;
	font-size: 17px;
}

.plan-features li:last-child { padding-bottom: 0; }

.plan-features li span { font-weight: 700; }

.plan-features li i {
	padding-left: .5em;
	color: #ff694d;
}

div.buy-button > a.btn {
	padding: 1em 3em;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	background-color: #4E98C9;
	line-height: 1.5;
	border: none;
	border-radius: 3px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

div.buy-button > a.btn:hover {
	color: #fff;
	background-color: #2B6B95;
}

.buy-button { padding-bottom: 1.5em; }

.buy-button p {
	margin: 12px 0 0;
	font-weight: 300;
}

/* FIN PROMOTIONS */

/* CONTACT */

section#titreContact h1 {
	margin: 4em auto 2em;
}

.block {
	background-color: white;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
	border-radius: 0 0 5px 5px;
	padding: 0;
	margin-bottom: 100px;
}

section#contactForm {
	padding: 2em;
}

section#contactForm div#adresseContact {
}

section#contactForm div#adresseContact li {
	margin-bottom: .6em;
}

section#contactForm div#adresseContact li:nth-child(1) {
	font-weight: 500;
	font-size: 20px;
}

section#contactForm div#adresseContact li:nth-child(2) i {
	color: #FF694E;
	margin-right: 13px;
}

section#contactForm div#adresseContact li:nth-child(3) i {
	color: #FF694E;
	margin-right: 13px;
}

section#contactForm div#adresseContact li:nth-child(4) i {
	color: #FF694E;
	margin-right: 10px;
}

section#contactForm div#adresseContact li:nth-child(5) i {
	color: #FF694E;
	margin-right: 13px;
}

section#contactForm div#formulaireContact label {
	margin-bottom: .6em;
	display: block;
	text-transform: uppercase;
	width: 300px;
}

section#contactForm div#formulaireContact label input[type=text],
section#contactForm div#formulaireContact label input[type=mail],
section#contactForm div#formulaireContact label textarea {
	display: block;
	width: 100%;
	border: 2px solid #888888;
	border-radius: 5px;
	padding: 2px 10px;
}

section#contactForm div#formulaireContact input[type=submit] {
	border-radius: 5px;
	padding: 12px;
	text-transform: uppercase;
	width: 92%;
	font-size: 15px;
	background: #FFC539;
	border: none;
	font-weight: 500;
	color: #fff;
	text-align: center;
	transition: all 0.3s ease-in-out; 
	margin-bottom: 30px;
}

section#contactForm div#formulaireContact input[type=submit]:hover {
	background-color: #FFBA1B;
}

section#contactForm div#formulaireContact label textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 145px;
	max-height: 145px;
	padding-top: 6px;
} 

div#formulaireContact h4 {
	text-transform: uppercase;
	margin-top: 5px;
}

/* FIN CONTACT */

/* A PROPOS */

section#titreAbout h1,
section#titreInstitut h1,
section#titreCompetence h1,
section#titrePrestation h1 {
	margin: 4em auto 2em;
}

section#institut img {
	border-radius: 5px 5px 0 0;
}

section#competence img {
	border-radius: 0 0 5px 5px;
}

section#institut,
section#prestation,
section#competence {
	position: relative;
}

section#institut img,
section#prestation img,
section#competence img {
	background-size: cover;
	width: 100%;
	transition: all 0.6s ease-in-out;
}

section#institut h3,
section#prestation h3,
section#competence h3 {
	width: 190px;
	height: 70px;
	display: block;
	padding-top: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -34px;
	margin-left: -100px;
	border: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.6s ease-in-out;
}

section#institut h3:hover,
section#prestation h3:hover,
section#competence h3:hover {
	background-color: #ffffff;
	color: #23527c;
}

section#competence {
	margin-bottom: 100px;
}

section.content {
	position: relative;
}

div.titreActu {
	width: 100%;
	height: 250px;
	background-image: url(https://unsplash.it/1000/250?image=120&blur);
	padding: 50px 0 0;
	color: #FFFFFF;
}

div.titreActu span {
	display: block;
	font-size: 13px;
	font-weight: 300;
}

section.content img {
	background-size: cover;
	width: 100%;
	transition: all 0.6s ease-in-out;
}

section.content .block{
	padding: 55px;
}

.iList {
	color: #ff694d;
	margin: 0 .6em 0 1.5em;
}

.block h4 {
	margin: -.5em auto 1em;
}

/* FIN A PROPOS */

/* DEBUT FORMATION */

section.titreCentre h1,
section.titreOnline h1 {
	margin: 4em auto 2em;
}

section.titreCentre h3 {
	margin: 5em auto 2em;
}

ul.filtreFormation {
	display: inline-block;
	border-radius: 5px;
	width: 23%;
	background-color: #fff;
	vertical-align: top;
}

ul.filtreFormation li {
	display: block;
	position: relative;
	padding: 32px 15px 28px 55px;
	border-bottom: solid 2px #fbfbfb;
	width: 100%;
	height: 80px;
	color: #000;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

.ul.filtreFormation li.active {
    background-color: #212121;
}

section.listeFormation {
    display: inline-block;
    width: 76.5%;
}

section.listeFormation ul.containerFormation{
	margin-left: 20px;
	display: block;
}

li.lol {
	margin: 0 0 35px;
	border-radius: 5px;
	background-color: #fff;
	width: 100%;
	display: table;
	min-height: 242px;
	position: relative;
}

section.categorieFormation ul {
	display: table;
}

section.categorieFormation ul li {
	display: table-cell;
	text-align: center;
	width: 200px;
	height: 90px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
	text-transform: uppercase;
	vertical-align: middle;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

ul.filtreFormation li.liFiltre a::before {
	content: '';
	position: absolute;
	background-color: #ffffff;
	border: 3px solid #000000;
	border-radius: 5px 0 0 5px;
	height: 78px;
	width: 40px;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}

ul.filtreFormation li.liFiltre.list-cat-1 a::before {
	border: 3px solid #FFBD22;
}

ul.filtreFormation li.liFiltre.list-cat-2 a::before {
	border: 3px solid #FF694E;
}

ul.filtreFormation li.liFiltre.list-cat-3 a::before {
	border: 3px solid #4E98C9;
}

ul.filtreFormation li.liFiltre.list-cat-4 a::before {
	border: 3px solid #5d0043;
}

ul.filtreFormation li.liFiltre.list-cat-5 a::before {
	border: 3px solid #4db778;
}

li.liFiltre.activeCat a::before {
	background-color: #000000 !important;
}

li.liFiltre.list-cat-1.activeCat a::before {
	background-color: #FFBD22 !important;
}

li.liFiltre.list-cat-2.activeCat a::before {
	background-color: #FF694E !important;
}

li.liFiltre.list-cat-3.activeCat a::before {
	background-color: #4E98C9 !important;
}

li.liFiltre.list-cat-4.activeCat a::before {
	background-color: #5d0043 !important;
}

li.liFiltre.list-cat-5.activeCat a::before {
	background-color: #4db778 !important;
}

ul.filtreFormation li.liFiltre a:hover::before {
	background-color: #000000;
}

ul.filtreFormation li.liFiltre.list-cat-1 a:hover::before {
	background-color: #FFBD22;
}

ul.filtreFormation li.liFiltre.list-cat-2 a:hover::before {
	background-color: #FF694E;
}

ul.filtreFormation li.liFiltre.list-cat-3 a:hover::before {
	background-color: #4E98C9;
}

ul.filtreFormation li.liFiltre.list-cat-4 a:hover::before {
	background-color: #5d0043;
}

ul.filtreFormation li.liFiltre.list-cat-5 a:hover::before {
	background-color: #4db778;
}

.cat-1 {
	border-color: #FFBD22 transparent transparent transparent;
}

.cat-2 {
	border-color: #FF694E transparent transparent transparent;
}

.cat-3 {
	border-color: #4E98C9 transparent transparent transparent;
}

.cat-4 {
	border-color: #5d0043 transparent transparent transparent;
}

.cat-5 {
	border-color: #4db778 transparent transparent transparent;
}

.list-cat-1.activeCat::before {
	content: '';
	background-color: #FFBD22;
}

.list-cat-2.activeCat::before {
	content: '';
	background-color: #FF694E;
}

.list-cat-3.activeCat::before {
	content: '';
	background-color: #4E98C9;
}

.list-cat-4.activeCat::before {
	content: '';
	background-color: #5d0043;
}

.list-cat-5.activeCat::before {
	content: '';
	background-color: #4db778;
}

div.descriptionCategorieFormation {
	padding: 20px 30px 30px 30px;
	border-right: 6px solid #F7F7F7;
	position: relative;
	overflow: hidden;
}

li.lol span.catItem {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 60px 60px 0 0;
}

li.paslol {
	margin: 0 0 35px;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	width: 100%;
	display: table;
	min-height: 150px;
	position: relative;
}

li.paslol h4 {
	text-transform: uppercase;
	text-align: left;
	margin: 2px 0 15px 50px;
}

li.paslol a.lienInfoFormationSingle {
	padding: 10px 0;
	text-align: center;
	background-color: #FFBD22;
	color: #FFFFFF;
	font-weight: 500;
	border-bottom: 2px solid #FFFFFF;
	border-radius: 5px 5px 0 0;
}

li.paslol a.lienInscriptionFormationSingle {
	padding: 10px 0;
	text-align: center;
	background-color: #4db778;
	color: #FFFFFF;
	font-weight: 500;
	border-top: 2px solid #FFFFFF;
	border-radius: 0 0 5px 5px;
}

li.paslol ul li {
	display: inline-block;
	min-width: 140px;
	margin: 5px 10px 5px 10px;
	vertical-align: middle;
	padding: 5px 0 0 0;
}

li.paslol li i {
	text-align: center;
	width: 15px;
	color: #ff694d;
	margin-right: 10px;
}

li.paslol span.catItem {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 60px 60px 0 0;
}

div.descriptionCategorieFormation h4 {
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-left: 20px;
	text-align: left;
}

div.infoCategorieFormation {
	padding: 40px 20px 20px 10px;
}

div.infoCategorieFormation li i {
	color: #ff694d;
	width: 15px;
	height: auto;
	text-align: center;
	margin: 0 5px 13px 0;
}

li.lol a.lienCatForm {
	position: absolute;
	bottom: 20px;
	right: 60px;
	background-color: #FFBD22;
	padding: 10px 25px;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: 500;
}

div.infoCatFormation {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(150, 150, 150, 0.2);
	padding: 50px;
	margin: 0 0 30px 0;
}

section.blockDeroule,
section.blockProgramme {
	border-radius: 5px;
	background-color: #FFFFFF;
}

section.blockDeroule li i,
section.blockProgramme li i {
	color: #ff694d;
}

section.blockDeroule {
	min-height: 300px;
	overflow: hidden;
	position: relative;
}

div.deroule {
	padding: 30px 60px 30px 50px;
}

div.blockInfo {
	text-align: center;
	padding: 30px 30px 100px 30px;
	border-left: 20px solid #F7F7F7;
}

div.blockInfo ul.dateInscription p {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
	border-radius: 5px;
	margin: auto;
}

div.blockInfo ul.dateInscription p span {
	text-transform: uppercase;
}

div.blockInfo ul.reference {
	text-align: left;
	width: 50%;
	margin-top: 10px;
	padding: 0 25px;
	font-size: 15px;
	font-weight: 500;
}

div.blockInfo ul.reference li {
	margin-bottom: 2px;
}

div.blockInfo ul.reference i {
	width: 20px;
	height: auto;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	margin: 0 5px 0 0;
}

section.blockDeroule ul.contactInfo {
	position: absolute;
	bottom: 0;
	right: 0px;
	width: 360px;
	background-color: #F7F7F7;
	font-weight: 500;
	color: #000000;
}

section.blockProgramme {
	margin: 35px 0;
}

section.blockProgramme h3 i {
	margin: 0 20px;
}

section.blockProgramme div.col-sm-6 {
	padding: 30px;
}

section.footerForm {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 1px 0 1px;
	width: 25%;
	margin: 30px auto 30px; 
}

section.footerForm ul#formSociaux {
	margin: 5px auto 5px;
	text-align: center;
}

section.footerForm ul#formSociaux li {
	display: inline-block;
}

section.footerForm ul#formSociaux li i {
	color: #ff694d;
	width: 30px;
	margin: 10px 5px;
}

ul.dateInscription {
	background-color: #ffbf00;
	border-radius: 5px;
	width: 70%;
	padding: 5px 0;
	color: #FFFFFF;
	font-weight: 500;
	margin: 15px auto 0;
}

ul.dateInscription li {
	border-bottom: 2px solid #FFFFFF;
	padding: 5px 0;
}

ul.dateInscription li:first-child {
	padding: 0 0 5px;
}

ul.dateInscription li:last-child {
	border: none;
}

.shareTitre {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.formesTitre {
    margin-bottom: 25px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.formesAvis {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 48%;
    height: 206px;
    background-color: #fff;
    border-radius: 5px;
}

.formesAvis i {
	position: absolute;
    left: 28px;
    bottom: 25px;
    color: #fff;
}

.formesAvisGauche {
	margin-right: 20px;
}

.formesAvisDroite {
	margin-left: 20px;
} 

.etoileAvis {
    display: block;
    position: absolute;
    top: -80px;
    right: -80px;
    border-radius: 50%;
    width: 146px;
    height: 146px;
    background-color: #ffbf00;
}

.formesPhoto {
    display: inline-block;
    margin: 38px 8%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
}

.formesDescAvis {
    display: inline-block;
    margin: 0;
    padding-top: 10%;
    vertical-align: top;
    width: 50%;
    height: 100%;
}

.formesDescAvisNom {
    display: inline-block;
    margin: 0 50px 0 0;
    width: auto;
    text-transform: uppercase;
    font-weight: 500;
}

.formesDescAvisTexte {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #888888;
    line-height: 1.5em;
}

.fildAriane {
	position: absolute;
	top: 80px;
}


/* ACTUALITES */

ul.actualites li.actualite {
	display: inline-block;
}

.card {
	background: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	position: relative;
}

.card a {
	color: inherit;
	text-decoration: none;
}

.card__date {
	position: absolute;
	top:10px;
	right: 10px;
	background: #4E98C9;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 13px;
	font-weight: bold;
	padding-top: 10px;
}

.card__date__day {
	display: block;
	font-size: 14px;
}

.card__date__month {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.card__thumb {
	max-height: 160px;
	overflow: hidden;
	background-color: #000;
}

.card__thumb img {
	display: block;
}

.card__body {
	position: relative;
	padding: 20px;
	min-height: 125px;
}

.card__title {
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 22px;
	color: #000;
	font-weight: bold;
}

.card__subtitle {
	margin: 0;
	padding: 0 0 10px 0;
	color: #4E98C9;
	font-size: 19px;
}